@font-face {
    font-family: 'manropemedium';
    src: url(./assets/fonts/Manrope-Medium.ttf) format('truetype');

    font-weight: normal;
    font-style: normal;
}



*{
  padding: 0;
  margin: 0; 
}

html
{
    min-height: 100%;
    position: relative;
}


body
{
    background: rgb(34, 29, 34);
    background-size: cover;
    height: 100vh;
}

/*Navigationbar*/
.navigationbar
{
    position: fixed;
    top: 0;
    z-index: 1;
    display:flex;
    height: 110px;
    width: 100%;
    background: rgb(27, 20, 31)
}

.navigationbar p
{
    margin-top: 30px;
    margin-left: 50%;
    font-size: 40px;
    color: white;
    font-family: 'manropemedium', sans-serif;
}

.navbarlogo
{
    width: auto;
    height: auto;
    padding: 15px 100px;
    margin-left: -70px;
    transition: .3s;
}

.navbarlogo:hover
{
    transform: scale(1.2);
}

.navigationbar ul li
{
    list-style: none;
    margin: 0 10px;
    display: inline-block;
    line-height: 80px;
    margin-top: 10px;
}

.navigationbar ul li a
{
    text-decoration: none;
    color:white;
    font-size: 20px;
    padding: 6px 13px;
    font-family: 'manropemedium', sans-serif;
    transition: .3s;
}

.navigationbar ul li a.active,
.navigationbar ul li a:hover
{
    background: rgb(224, 80, 255);
    border-radius: 2px;
}




.container
{
    width: 100%;
    height: 100%;
}

.content
{
    height: 120%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    scroll-snap-align: center;
}

.content h1
{
    margin-top: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 40px;
    color: white;
    font-family: 'manropemedium', sans-serif;
}

.content h2{
    padding-top: 10px;
    font-size: 40px;
    color: white;
    font-family: 'manropemedium', sans-serif;
}


.content p
{
    padding-bottom: 10px;
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 18px;
    color: white;
    font-family: 'manropemedium', sans-serif;
    line-height: 30px;
    text-align: left;
}

.content ul{
    list-style: none;
}

.content li p
{
    font-size: 20px;
    color: white;
    font-family: 'manropemedium', sans-serif;
    color: white;
}

.itchframe{
    display: block;
}

/*Footer*/
footer
{
    padding-top: 30px;
    bottom: 0;
    width: 100%;
    height: 100px;
    align-items: center;
    margin-bottom: 0px;
    left: 0px;
    right: 0px;
    background: rgb(27, 20, 31);
    position: static;
}

.footer-upbtn img
{
    margin-top: 20px;
    margin-right: 20px;
    float: right;
    width: auto;
    height: 40px;
    transition: .3s;
}
.footer-upbtn img:hover
{
    transform: scale(1.2);
}

.social-container ul
{
    margin-top: 30px;
    margin-left: 20px;
    float: left;
    align-self: center;
}

.social-container ul li
{
    list-style: none;
    margin: 0 15px;
    display: inline-block;
    line-height: 50px;
}

.social-container ul li img
{
    width: auto;
    height: 45px;
    transition: .3s;
}

.social-container ul li img:hover
{
    transform: scale(1.2);
}