@font-face {
    font-family: 'manropemedium';
    src: url(./assets/fonts/Manrope-Medium.ttf) format('truetype');

    font-weight: normal;
    font-style: normal;
}


*{
  padding: 0;
  margin: 0; 
}

html
{
    min-height: 100%;
    position: relative;
}


body{
    background: rgb(34, 29, 34);
    overflow: hidden;
    background-size: cover;
    height: 100vh;
    animation: transitionIn 0.7s;
}

@keyframes transitionIn{
    from{
        opacity: 0;
        transform: rotateX(-10deg);
    }

    to{
        opacity: 1;
        transform: rotateX(0);
    }
}

.container{
    width: 100%;
    height: 100%;
    
    overflow-y: scroll;
    scroll-behavior: smooth;
}

/*Navigationbar*/
.navigationbar
{
    position: fixed;
    top: 0;
    z-index: 1;
    display: flex;
    height: 110px;
    width: 100%;
    background: rgb(27, 20, 31);
}

.navigationbar p
{
    margin-top: 30px;
    margin-left: 50%;
    font-size: 40px;
    color: white;
    font-family: 'manropemedium', sans-serif;
}

.navbarlogo
{
    width: auto;
    height: auto;
    padding: 15px 100px;
    margin-left: -70px;
    transition: .3s;
}

.navbarlogo:hover
{
    transform: scale(1.2);
}

.navigationbar ul li
{
    list-style: none;
    margin: 0 10px;
    display: inline-block;
    line-height: 80px;
    margin-top: 10px;
}

.navigationbar ul li a
{
    text-decoration: none;
    color:white;
    font-size: 20px;
    padding: 6px 13px;
    font-family: 'manropemedium', sans-serif;
    transition: .3s;
}

.navigationbar ul li a:hover
{
    background: rgb(224, 80, 255);
    border-radius: 2px;
}

 /* Sections*/
section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

section h1{
    font-family: 'manropemedium', sans-serif;
    color: white;
    font-size: 50px;
    margin: 20px;
}

/*Home Section*/
.home-section
{
    width: 100%;
    height: 80vh;
}

.homelogo
{
    width: 200px;
    height: 200px;

    animation: LogoTransIn 0.7s;
}


@keyframes LogoTransIn{
    from{
        transform: scale(1.5);
    }

    to{
        transform: scale(1);
    }
}


/*Games Layout Portfolio*/
.games-section{
    margin: 80px;
}

.games-section .grid{
    display: flex;
    columns: 3;
    flex-wrap: wrap;
    grid-gap: 30px;
    justify-content: flex-start;
}

.games-section .grid article{
    background: rgb(27, 20, 31);
    border: none;
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    text-align: center;
    width: 535px;
    height: 530px;
    transition: .3s;
}

.games-section .grid article:hover{
    transform: translateY(5px);
    box-shadow: 2px 2px 26px 0px rgba(0, 0, 0, 0.3);
}

.games-section .grid article img
{
    width: auto;
    height: 300px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.games-section .grid article text{
    padding: 0 20px 20px;
}

.games-section .grid article h2{
    margin: 15px;
    width: auto;
    color: white;
    font-family: 'manropemedium', sans-serif;
    font-size: 35px;
}

.games-section .grid article p{
    color: white;
    font-family: 'manropemedium', sans-serif;
    display: block;
}

.games-section .grid article button{
    background: rgb(224, 80, 255);
    border-radius: 20px;
    border: none;
    color: white;
    padding: 10px;
    margin-top: 10px;
    width: 90%;
    font-weight: 500;
    cursor: pointer;
    transition: 0.3s;
    font-family: 'manropemedium', sans-serif;
}

.games-section .grid article button:hover{
    scale: 0.95 0.95;
}


/*About Section*/
.about-section
{
    width: 100%;
    height: 80vh;
}

.about-section p
{
    text-align: center;
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
    font-size: 20px;
    width: 100vh;
    height: 100px;
    color: white;
    font-family: 'manropemedium', sans-serif;
    line-height: 30px;
}

.about-section h2
{
    font-size: 20px;
    color: white;
    font-family: 'manropemedium', sans-serif;
}

.about-section ul{
    margin-top: 30px;
    float: left;
    align-self: center;
}

.about-section ul li
{
    list-style: none;
    margin: 0 15px;
    display: inline-block;
    line-height: 50px;
}

.about-section ul li img
{
    width: auto;
    height: 45px;
    transition: .3s;
}

.about-section ul li img:hover
{
    transform: scale(1.2);
}


/*About Footer*/
footer
{
    bottom: 0;
    width: 100%;
    height: 100px;
    align-items: center;
    margin-bottom: 0px;
    left: 0px;
    right: 0px;
    background: rgb(27, 20, 31);
    position: static;
}

.footer-upbtn img
{
    margin-top: 20px;
    margin-right: 20px;
    float: right;
    width: auto;
    height: 40px;
    transition: .3s;
}
.footer-upbtn img:hover
{
    transform: scale(1.2);
}

.social-container ul
{
    margin-top: 30px;
    margin-left: 20px;
    float: left;
    align-self: center;
}

.social-container ul li
{
    list-style: none;
    margin: 0 15px;
    display: inline-block;
    line-height: 50px;
}

.social-container ul li img
{
    width: auto;
    height: 45px;
    transition: .3s;
}

.social-container ul li img:hover
{
    transform: scale(1.2);
}